body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    z-index: 1;
}


/* .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} */

nav {
    display: flex;
    justify-content: space-around;
    background-color: rgb(64, 247, 186);
    padding: 10px 20px;
    width: 100%;
}

nav>a {
    text-decoration: none;
    color: rgb(100, 98, 98);
    font-weight: 600;
    padding: 10px 20px;
    font-size: 1.4rem;
}

#cartHolder {
    display: flex;
    flex-direction: column;
    position: relative;
}

#cartHolder>a {
    text-decoration: none;
    color: rgb(100, 98, 98);
    font-weight: 600;
    padding: 10px 20px;
    font-size: 1.4rem;
}

#cartHolder span {
    background-color: orange;
    border-radius: 50%;
    padding: 3px;
    position: absolute;
    right: -10;
    z-index: 10;
    font-size: .7rem;
}

.allItemsinCart {
    position: absolute;
    top: 10px;
    left: -200px;
    z-index: 100;
    width: 500px;
    padding: 10px 20px;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

table {
    border: 1px orange solid;
}

tr {
    padding: 10px 20px;
    margin: 10px;
}

th {
    font-size: .85rem;
    padding: 10px;
}

thead {
    margin-top: 10px;
    width: 150px;
}

td {
    font-size: .7rem;
    padding: 0 10px;
    text-align: center;
}

#clear {
    padding: 10px;
    color: white;
    font-weight: 600;
    background-color: orange;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#cancel {
    padding: 5px 20px;
    width: fit-content;
    border: none;
    color: orange;
    background-color: white;
    font-size: .75rem;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}


/* carousel */

.hero {
    width: 100%;
    align-self: center;
}

.carousel {
    width: 50%;
    margin: 20px auto;
}

.carousel img {
    width: 100%;
    max-height: 300px;
}

.myslides {
    display: none;
}


/* Items */

.items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 30px;
    position: relative;
    z-index: 10;
}

.item {
    max-width: 300px;
    background-color: aliceblue;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 2px rgb(222, 222, 223);
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 10;
}

.orderCount {
    padding: 10px;
    background-color: rgb(141, 199, 250);
    visibility: visible;
    position: absolute;
    bottom: 15px;
    left: 27%;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.plus:hover {
    cursor: pointer;
}

.minus:hover {
    cursor: pointer;
}

.orderCount>span {
    padding: 0 10px;
    font-size: 1.2rem;
    font-weight: 600;
}

.orderCount:out-of-range {
    visibility: hidden;
}

.item>p {
    margin-left: 10px;
}

.but {
    width: 80%;
    margin: 10px auto;
    padding: 5px;
    border: none;
    background-color: orange;
    border-radius: 5px;
    color: white;
    font-weight: 600;
}

.item>small {
    display: block;
    margin: 10px;
}

.item>img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

@media (min-width: 400px) {
    .items {
        flex-direction: row;
        flex-wrap: wrap;
    }
}